name: Update Website

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * mon"

jobs:
  update-wesbite:
    name: Update Website
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 5G
          purge: true
          purge-prefixes: nix-${{ runner.os }}-
          purge-created: 0
          purge-last-accessed: 0
          purge-primary-key: never

      - name: Update submodules
        run: |
          git submodule update --init
          git submodule update --remote --rebase

      - name: Create Pull Request
        id: create-pr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          title: "treewide: update"
          commit-message: "treewide: update"
          branch: update_website
          delete-branch: true
          sign-commits: true
          labels: |
            dependencies
            automated
          assignees: MrSom3body

      - name: Auto merge
        run: |
          if [ -n "${{ steps.create-pr.outputs.pull-request-number }}" ]; then
            gh pr merge --auto --rebase ${{ steps.create-pr.outputs.pull-request-number }}
          fi
        env:
          GH_TOKEN: ${{ github.token }}
